# General Ignores + IDE
.DS_Store
settings.xml
WEB-INF

# Engines + Database + CBFS + Secrets
.env
env/
.engine/**
.cbfs/**
build/.db/**
.secrets

# logs + tests
logs/**
backend/tests/results/**

# npm
frontend/node_modules/*
frontend/build/**
frontend/build/
npm-debug.log
yarn-error.log
frontend/examples
frontend/stats.html
*.tsbuildinfo
tsconfig.tsbuildinfo

## Ignored Dependencies
backend/coldbox/**
backend/coldbox/
backend/modules/**
backend/modules/
backend/testemails/**
backend/tests/results/*
!/backend/tests/results/.gitkeep

frontend/src/mock/**
frontend/coverage/**
frontend/coverage/

temp/
temp/**