# Env
ENVIRONMENT=

# Lucee Admin, Guard, Image Extensions for local/test
OTHER_EXTENSIONS=,CED6227E-0F49-6367-A68D21AACA6B07E8;version=1.0.0.7,37C61C0A-5D7E-4256-8572639BE0CF5838;version=3.0.0.14,B737ABC4-D43F-4D91-8E8E973E37C40D1B;version=3.0.1.1

# Config
CFCONFIG_ADMINPASSWORD=
LUCEE_ADMIN_ENABLED=
INSPECTTEMPLATE=
IMAGEMAGICK=

# Web
HTTP_HOST=127.0.0.1
HTTP_PORT=8082
REQUESTTIMEOUT=

# Java
OS=
JAVAHEAP=

# Database
DB_GRAMMAR=PostgresGrammar@qb
DB_SCHEMA=
DB_DATABASE=
DB_BUNDLENAME=org.postgresql.jdbc
DB_BUNDLEVERSION=42.7.9
DB_CLASS=org.postgresql.Driver
DB_DRIVER=postgresql
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=

# Email
EMAIL_SERVER=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_TLS=
EMAIL_SSL=
EMAIL_SPOOL=

# Secrets
REINITKEY=
JWT_SECRET=
ENCRYPTIONKEY=generateSecretKey(algorithm="AES", keysize=256)