name: Deploy Frontend

on:
  workflow_dispatch: # Allow manual triggering

jobs:
  deploy:
    if: github.actor == github.repository_owner
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: frontend

    environment: Production
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "npm"
          cache-dependency-path: frontend/package-lock.json

      - name: Install Dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Create Version File
        run: |
          cat > build/version.json << EOF
          {
            "buildDate": "$(date)",
            "runId": "${{ github.run_id }}"
          }
          EOF

      - name: Verify build output
        run: |
          if [ ! -d "build" ]; then
            echo "Build directory not found!"
            exit 1
          fi
          echo "Build successful, files:"
          ls -la build/

      - name: Update Frontend Code
        uses: burnett01/rsync-deployments@v8
        # a - archive preserve permissions, ownership, and symbolic links, v - verbose, z - compress
        with:
          switches: -avz --delete --rsync-path="sudo rsync"
          path: frontend/build/
          remote_path: /var/www/wwwroot/spendingtracker_frontend/
          remote_host: ${{ secrets.LIGHTSAIL_IP }}
          remote_user: ${{ secrets.LIGHTSAIL_USERNAME }}
          remote_key: ${{ secrets.LIGHTSAIL_SSH_KEY }}
