name: Deploy React Frontend

on:
  workflow_dispatch:

jobs:
  deploy:
    if: github.actor == github.repository_owner
    runs-on: ubuntu-24.04
    environment: Production

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build React app
        run: npm run build

      - name: Upload build to release dir
        run: |
          RELEASE=$(date +%Y%m%d_%H%M%S)
          echo "RELEASE=$RELEASE" >> $GITHUB_ENV

          rsync -az ./build/ \
            ${{ secrets.LIGHTSAIL_USERNAME }}@${{ secrets.LIGHTSAIL_IP }}:/var/www/wwwroot/spendingtracker_frontend/releases/$RELEASE

      - name: Deploy to Lightsail
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.LIGHTSAIL_IP }}
          username: ${{ secrets.LIGHTSAIL_USERNAME }}
          key: ${{ secrets.LIGHTSAIL_SSH_KEY }}
          script: |
            cd /var/www/wwwroot/spendingtracker_frontend

            # link latest release to the 'current' dir
            ln -sfn releases/${RELEASE} current

            # change ownership to nginx account 
            chown -R www-data:www-data current
            find current -type d -exec chmod 755 {} \;
            find current -type f -exec chmod 644 {} \;

            # Keep last 5 releases
            cd releases
            ls -dt */ | tail -n +6 | xargs rm -rf
